img {
  float: left;
  padding: 10px;
}

.sidebar {
  margin: auto;
  width: 25%;
  border: solid black;
  border-width: 5px;
  float: right;
  background-color: rgb(255, 0, 0);
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}
ul {
  margin-left: 15px;
}

h2 {
  text-align: center;
}

body {
  background-color: rgb(107, 109, 110);
}

  .images-container {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
  }

  .header {
    text-align: center;
    border: solid black;
    border-width: 5px;
    padding: 20px;
    background-color: azure;
  }

  body {
    margin: 0px;
    padding: 0px;
  }